$primary: #173662;
$secondary: #495c76;
$danger: #ff3985;
$light: #fff;
$warning: #fac410;

@import '../node_modules/bootstrap/scss/bootstrap';
@import url('https://fonts.googleapis.com/css2?family=Yellowtail&display=swap');

button,
a,
link,
input,
select,
textarea {
  border-radius: 0px !important;
}

body {
  background-color: #f2f6fb !important;
  font-family: 'Roboto', sans-serif !important;
  color: #173662 !important;
  line-height: 1.5 !important;
  font-weight: 400 !important;
  -webkit-font-smoothing: antialiased !important;
  -moz-osx-font-smoothing: grayscale !important;
}

.title {
  font-family: 'Yellowtail', cursive !important;
}
